@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100vw;
}
span {
  display: block;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 640px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 961px) {
  .wrapper {
    min-width: 921px;
    max-width: 1534px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
