@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100vw;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 961px) {
  .wrapper {
    min-width: 961px;
    max-width: 1534px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
}
