extends pug-modules/layout_main

block pageTitle
  title Play College Sport

append pageLinks
  link(rel="stylesheet", href="sections/header/header.css")
  link(rel="stylesheet", href="sections/athlets-players/athlets-players.css")
  link(rel="stylesheet", href="sections/main-section/main-section.css")
  //- link(rel="stylesheet", href="blocks/countries/countries.css")
  //- link(rel="stylesheet", href="blocks/popular-programs/popular-programs.css")
  //- link(rel="stylesheet", href="blocks/customer-reviews/customer-reviews.css")
  //- link(rel="stylesheet", href="blocks/blog/blog.css")

block content
  include sections/athlets-players/athlets-players
  include sections/main-section/main-section
  //- include modules/content_weworking
  //- include blocks/countries/countries
  //- include blocks/popular-programs/popular-programs
  //- include blocks/customer-reviews/customer-reviews
  //- include blocks/blog/blog

append pageScripts
  //- script(src="js/slider.js")
  //- script(src="js/select.js")
  //- script(src="js/content_weworking.js")
  //- script(src="blocks/countries/countries.js")
  //- script(src="blocks/customer-reviews/customer-reviews.js")
  //- script(src="blocks/popular-programs/popular-programs.js")
  //- script(src="blocks/blog/blog.js")
