extends pug-modules/layout_main

block pageTitle
  title Play College Sport

append pageLinks
  link(rel="stylesheet", href="sections/header/header.css")
  link(rel="stylesheet", href="sections/athlets-players/athlets-players.css")
  link(rel="stylesheet", href="sections/main-section/main-section.css")
  //- link(rel="stylesheet", href="blocks/countries/countries.css")
  //- link(rel="stylesheet", href="blocks/popular-programs/popular-programs.css")
  //- link(rel="stylesheet", href="blocks/customer-reviews/customer-reviews.css")
  //- link(rel="stylesheet", href="blocks/blog/blog.css")

block content
  include sections/athlets-players/athlets-players
  include sections/main-section/main-section
  //- include modules/content_weworking

append pageScripts
  //- script(src="js/slider.js")
