section.athlets
    .wrapper.athlets__wrapper
      span.athlets__title.h2-title ATHLETS
    article.athlets__connection.article
      .wrapper.athlets__wrapper  
        .article__title.article__title_athlets
          .article__count 01
            .article__underline
          h3 CoNNection
        p.article__text.article__text_athlets Connect with coaches directly, you can ping coaches to view profile.
    article.athlets__collaboration.article
      .wrapper.athlets__wrapper   
        .article__title.article__title_athlets
          .article__count 02  
            .article__underline
          h3 Collaboration
        p.article__text.article__text_athlets Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
    article.athlets__growth.article
      .wrapper.athlets__wrapper 
        .article__title.article__title_athlets
          .article__count.article__count 03
            .article__underline.article__underline_growth
          h3 Growth
        p.article__text.article__text_growth.article__text_athlets Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc

section.players
    .wrapper.players__wrapper 
      span.players__title.h2-title players
    article.players__connection.article
      .wrapper.players__wrapper
        .article__title
          .article__count 01
            .article__underline
          h3 CoNNection
        p.article__text Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
    article.players__collaboration.article
      .wrapper.players__wrapper 
        .article__title
          .article__count 02
            .article__underline
          h3 Collaboration
        p.article__text Work with recruiter to increase your chances of findingtalented athlete.
    article.players__growth.article
      .wrapper.players__wrapper   
        .article__title
          .article__count.article__count_growth 03
            .article__underline.article__underline_growth
          h3 Growth
        p.article__text.article__text_growth Save your time, recruit proper athlets for your team. 

