section.athlets
  .wrapper.athlets__wrapper
    h2.athlets__title.h2-title
    article.athlets__connection
      h3.h3-title 
        span 01
      | CoNNection
    article.athlets__collaboration
      h3.h3-title
        span 02
      | Collaboration
    article.athlets__growth
      h3.h3-title
        span 03
      | Growth

section.players
  .wrapper.players__wrapper