.athlets {
  background-repeat: no-repeat;
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets .article {
    padding-left: 291px;
  }
}
@media (min-width: 961px) {
}
@media (max-width: 640px) {
  .athlets {
    background-position: center 80px;
    background-image: url(../../images/footballer_192.png);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets {
    background-position: -162px 93px;
    background-image: url(../../images/footballer_497.png);
  }
}
@media (min-width: 961px) {
  .athlets {
    padding-bottom: 50px;
    background-position: 0 28px;
    background-image: url(../../images/footballer_566.png);
  }
}
@media (min-width: 1301px) {
  .athlets {
    background-position: 29% 28px;
  }
}
@media (min-width: 961px) {
  .athlets__wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .athlets__title {
    min-height: 306px;
    padding-top: 8px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets__title {
    min-height: 195px;
    padding-top: 58px;
    padding-left: 291px;
  }
}
@media (min-width: 961px) {
  .athlets__title {
    margin-left: 53%;
    padding-top: 88px;
  }
}
@media (max-width: 640px) {
  .athlets__connection {
    position: relative;
    z-index: -1;
    min-height: 213px;
    padding: 74px 0 51px;
    background-color: #fafafa;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets__connection {
    padding-bottom: 33px;
  }
}
@media (min-width: 961px) {
  .athlets__connection {
    padding-top: 73px;
    padding-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .athlets__collaboration {
    min-height: 262px;
    padding: 51px 0 54px;
    background-color: #f5f4f9;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets__collaboration {
    position: relative;
    z-index: -1;
    min-height: 235px;
    padding-top: 30px;
    background-color: #f5f4f9;
  }
}
@media (min-width: 961px) {
  .athlets__collaboration {
    position: relative;
    z-index: -1;
    padding-top: 48px;
    padding-bottom: 53px;
    background-color: #f5f4f9;
  }
}
.athlets__growth {
  background-color: #5e42b0;
}
@media (max-width: 640px) {
  .athlets__growth {
    min-height: 228px;
    padding: 51px 0 56px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets__growth {
    position: relative;
    z-index: -1;
    padding-top: 32px;
    padding-bottom: 31px;
  }
}
@media (min-width: 961px) {
  .athlets__growth {
    position: relative;
    z-index: -1;
    padding-top: 48px;
    padding-bottom: 50px;
    background-color: #5e42b0;
  }
}
.players {
  background-repeat: no-repeat;
}
@media (min-width: 641px) and (max-width: 960px) {
  .players .article {
    padding-left: 33px;
  }
}
@media (min-width: 961px) {
}
@media (min-width: 641px) and (max-width: 960px) {
  .players .article__text {
    max-width: 390px;
  }
}
@media (min-width: 961px) {
  .players .article__text {
    padding-right: 50%;
  }
}
@media (max-width: 640px) {
  .players {
    background-position: center 80px;
    background-image: url(../../images/basketballer_302.png);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .players {
    background-position: right 40px;
    background-image: url(../../images/basketballer_436.png);
  }
}
@media (min-width: 961px) {
  .players {
    background-position: 270px -5px;
    background-image: url(../../images/basketballer_991.png);
  }
}
@media (min-width: 1301px) {
  .players {
    background-position: 86.5% -5px;
  }
}
@media (min-width: 961px) {
  .players__wrapper {
    max-width: 1574px;
    padding: 0 20px;
  }
}
@media (max-width: 640px) {
  .players__title {
    min-height: 303px;
    padding-top: 5px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .players__title {
    padding-top: 58px;
    padding-left: 28px;
  }
}
@media (min-width: 961px) {
  .players__title {
    position: relative;
    z-index: -1;
    padding-top: 40px;
  }
}
@media (max-width: 640px) {
  .players__connection {
    position: relative;
    z-index: -1;
    min-height: 251px;
    padding: 74px 0 56px;
    background-color: #fafafa;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .players__connection {
    padding-top: 30px;
    padding-bottom: 33px;
  }
}
@media (min-width: 961px) {
  .players__connection {
    padding-top: 75px;
    padding-bottom: 55px;
  }
}
@media (max-width: 640px) {
  .players__collaboration {
    min-height: 192px;
    padding: 51px 0 53px;
    background-color: #f5f4f9;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .players__collaboration {
    position: relative;
    z-index: -1;
    padding-top: 30px;
    padding-bottom: 33px;
    background-color: #f5f4f9;
  }
}
@media (min-width: 961px) {
  .players__collaboration {
    position: relative;
    z-index: -1;
    padding-top: 45px;
    padding-bottom: 87px;
    background-color: #f5f4f9;
  }
}
.players__growth span {
  color: #8765dd;
}
@media (max-width: 640px) {
  .players__growth {
    min-height: 189px;
    padding: 48px 0 53px;
    background-color: #090c35;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .players__growth {
    position: relative;
    z-index: -1;
    padding-top: 33px;
    padding-bottom: 34px;
    background-color: #090c35;
  }
}
@media (min-width: 961px) {
  .players__growth {
    position: relative;
    z-index: -1;
    padding-top: 50px;
    padding-bottom: 56px;
    background-color: #090c35;
  }
}
.h2-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #e7e7e7;
}
@media (max-width: 640px) {
  .h2-title {
    font-size: 3.125rem;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .h2-title {
    font-size: 5rem;
  }
}
@media (min-width: 961px) {
  .h2-title {
    font-size: 5rem;
  }
}
.article__title {
  position: relative;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #c1c1c1;
}
@media (max-width: 640px) {
  .article__title {
    padding-left: 25px;
    font-size: 1.4375rem;
    letter-spacing: 1.2px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .article__title {
    padding-left: 30px;
    font-size: 2rem;
    letter-spacing: 1.6px;
  }
}
@media (min-width: 961px) {
  .article__title {
    padding-left: 35px;
    font-size: 2.25rem;
    letter-spacing: 1.8px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .article__title h3 {
    font-size: 2rem;
    letter-spacing: 1.6px;
  }
}
@media (min-width: 961px) {
  .article__title h3 {
    font-size: 2.25rem;
    letter-spacing: 1.8px;
  }
}
@media (min-width: 961px) {
  .article__title_athlets {
    margin-left: 53%;
  }
}
.article__count {
  position: absolute;
  left: 0;
  font-weight: bold;
  color: #000000;
  border-bottom-left-radius: 2px;
}
@media (max-width: 640px) {
  .article__count {
    top: 3px;
    font-size: 0.875rem;
    letter-spacing: 0.7px;
    border-bottom: solid 4px #5e42b0;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .article__count {
    top: 5px;
    font-size: 1.125rem;
    letter-spacing: 0.9px;
    border-bottom: solid 5px #5e42b0;
  }
}
@media (min-width: 961px) {
  .article__count {
    top: 11px;
    padding-bottom: 3px;
    font-size: 1.125rem;
    letter-spacing: 0.9px;
    border-bottom: solid 5px #5e42b0;
  }
}
.article__count_growth {
  border-bottom: solid 4px #ffffff;
}
.article__text {
  text-align: left;
  color: #000000;
}
@media (max-width: 640px) {
  .article__text {
    margin-top: 19px;
    font-size: 0.9375rem;
    line-height: 1.2;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .article__text {
    margin-top: 16px;
    padding-right: 45px;
    font-size: 1rem;
    line-height: 1.75;
  }
}
@media (min-width: 961px) {
  .article__text {
    margin-top: 17px;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
.article__text_growth {
  color: #ffffff;
}
@media (min-width: 961px) {
  .article__text_athlets {
    margin-left: 53%;
  }
}
