section.athlets
  .wrapper.athlets__wrapper
    span.athlets__title.h2-title ATHLETS
    article.athlets__connection.article
      h3.article__title
        span 01
        | CoNNection
      p.article__text Connect with coaches directly, you can ping coaches to view profile.
    article.athlets__collaboration.article
      h3.article__title
        span 02
        | Collaboration
      p.article__text Work with other student athletes to  increase visability. When you share and like other players videos it will increase your visability as a player. This is the team work aspect to Surface 1.
    article.athlets__growth.article
      h3.article__title.article__title_growth
        span 03
        | Growth
      p.article__text.article__text_growth Resources and tools for you to get better as a student Athelte. Access to training classes, tutor sessions, etc

section.players
  .wrapper.players__wrapper
    span.players__title.h2-title players
    article.players__connection.article
      h3.article__title
        span 01
        | CoNNection
      p.article__text Connect with talented athlete directly, you can watch their skills through video showreels directly from Surface 1.
    article.players__collaboration.article
      h3.article__title
        span 02
        | Collaboration
      p.article__text Work with recruiter to increase your chances of findingtalented athlete.
    article.players__growth.article
      h3.article__title.article__title_growth
        span 03
        | Growth
      p.article__text.article__text_growth Save your time, recruit proper athlets for your team. 
