.header {
  position: relative;
  z-index: -1;
  height: 1px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 14, 52, 0.9);
}
@media (max-width: 640px) {
  .header {
    min-height: 568px;
    padding: 5% 8% 12%;
    background-image: url(../../images/football_767.jpg);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header {
    min-height: 960px;
    min-width: 660px;
    padding: 10% 6% 25%;
    background-image: url(../../images/football_1280.jpg);
  }
}
@media (min-width: 961px) {
  .header {
    min-height: 960px;
    min-width: 1520px;
    padding: 2% 10% 6%;
    background-image: url(../../images/football_1920.jpg);
  }
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logotype {
  fill: #ffffff;
  max-width: 205px;
}
@media (max-width: 640px) {
  .header__logotype {
    min-width: 130px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header__logotype {
    min-width: 205px;
  }
}
@media (min-width: 961px) {
  .header__logotype {
    min-width: 190px;
  }
}
.header__title {
  width: 100%;
  text-align: left;
  font-weight: bold;
}
@media (max-width: 640px) {
  .header__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header__title {
    font-size: 4rem;
  }
}
@media (min-width: 961px) {
  .header__title {
    font-size: 5.625rem;
  }
}
.header__title_second-row {
  padding-left: 1.5em;
}
@media (max-width: 640px) {
  .header__title_second-row {
    margin-top: 30px;
  }
}
@media (min-width: 961px) {
  .header__title_second-row {
    text-align: right;
  }
}
.applications {
  width: 100%;
}
@media (min-width: 641px) and (max-width: 960px) {
  .applications {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 961px) {
  .applications {
    display: flex;
    justify-content: center;
  }
}
.applications__block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  background-color: #5e42b0;
  box-shadow: 8px 13.9px 24px 0 #0a0e34;
}
@media (max-width: 640px) {
  .applications__block {
    width: 100%;
    padding: 9px 25%;
    font-size: 0.5rem;
    border-radius: 38px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .applications__block {
    width: 311px;
    margin: 0 15px;
    padding: 26px 40px;
    font-size: 0.875rem;
    border-radius: 77px;
  }
}
@media (min-width: 961px) {
  .applications__block {
    width: 311px;
    margin: 0 25px;
    padding: 26px 40px;
    font-size: 0.875rem;
    border-radius: 77px;
  }
}
.applications__logo {
  fill: #ffffff;
}
@media (max-width: 640px) {
  .applications__logo {
    width: 19px;
    margin-right: 10px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .applications__logo {
    width: 40px;
    margin-right: 25px;
  }
}
@media (min-width: 961px) {
  .applications__logo {
    width: 40px;
    margin-right: 25px;
  }
}
.applications__title p {
  font-weight: 300;
}
.applications__title h3 {
  font-weight: bold;
}
