section.main-section
  article.main-section__item.main-section__item_be-active
    .main-section__counter
      span 01
    .main-section__picture.main-section__picture_be-active
    .main-section__info
      .main-section__wrapper.wrapper
        span.main-section__title Be active
        p.main-section__text Post videos with your skills, Like and follow others to be more popular.
  article.main-section__item.main-section__item_find-contact
    .main-section__counter
      span 02
    .main-section__picture.main-section__picture_find-contact
    .main-section__info.main-section__info_find-contact
      .main-section__wrapper.wrapper
        span.main-section__title Find contact
        p.main-section__text Contact others to find right coach or athlete you are looking for.
  article.main-section__item.main-section__item_work-it
    .main-section__counter
      span 03
    .main-section__picture.main-section__picture_work-it
    .main-section__info
      .main-section__wrapper.wrapper
        span.main-section__title Work it
        p.main-section__text Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this enjoyable experience. 