section.main-section
  article.be-active
    .main-section__counter
      span 01
    .main-section__wrapper.wrapper
      .main-section__picture
      .main-section__info
        span.main-section__title Be active
        p.main-section__textPost videos with your skills, Like and follow others to be more popular.
  article.find-contact
    .main-section__counter
      span 02
    .main-section__wrapper.wrapper
      .main-section__info
        span.main-section__title Find contact
        p.main-section__textPost Contact others to find right coach or athlete you are looking for.
      .main-section__picture
  article.work-it
    .main-section__counter
      span 03
    .main-section__wrapper.wrapper
      .main-section__picture
      .main-section__info
        span.main-section__title Work it
        p.main-section__textPost Enjoy being a student athlete, the recruiting process can be overwhelming, we want to make this enjoyable experience. 