@media (min-width: 641px) and (max-width: 960px) {
  .main-section {
    padding-bottom: 7px;
  }
}
.main-section__item {
  position: relative;
}
@media (min-width: 961px) {
  .main-section__item {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
  .main-section__item_work-it .main-section__info {
    padding-bottom: 70px;
  }
}
.main-section__counter {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
}
@media (max-width: 640px) {
  .main-section__counter {
    left: 20px;
    top: 293px;
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__counter {
    left: 33px;
    top: 494px;
    width: 116px;
    height: 116px;
  }
}
@media (min-width: 961px) {
  .main-section__counter {
    left: calc(50% - 84px);
    top: 211px;
    width: 168px;
    height: 155px;
  }
}
@media (max-width: 640px) {
  .main-section__counter span {
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.7px;
    color: #f5f6f7;
    line-height: 1.5;
  }
}
@media (min-width: 641px) {
  .main-section__counter span {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    color: #f5f6f7;
  }
}
.main-section__underline {
  height: 4px;
  border-radius: 1.5px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (max-width: 640px) {
  .main-section__underline {
    width: 16px;
  }
}
@media (min-width: 641px) {
  .main-section__underline {
    width: 22px;
  }
}
.main-section__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
@media (max-width: 640px) {
  .main-section__picture {
    width: 100%;
    min-height: 350px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__picture {
    width: 100%;
    min-height: 585px;
  }
}
@media (min-width: 961px) {
  .main-section__picture {
    width: 50%;
    min-height: 730px;
  }
}
@media (max-width: 640px) {
  .main-section__picture_be-active {
    background-image: url(../../images/be-active_640.jpg);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__picture_be-active {
    background-image: url(../../images/be-active_960.jpg);
  }
}
@media (min-width: 961px) {
  .main-section__picture_be-active {
    background-image: url(../../images/be-active_1024.jpg);
  }
}
@media (max-width: 640px) {
  .main-section__picture_find-contact {
    background-image: url(../../images/find-contact_640.jpg);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__picture_find-contact {
    background-image: url(../../images/find-contact_960.jpg);
  }
}
@media (min-width: 961px) {
  .main-section__picture_find-contact {
    background-image: url(../../images/find-contact_1024.jpg);
    order: 2;
  }
}
@media (max-width: 640px) {
  .main-section__picture_work-it {
    background-image: url(../../images/work-it_640.jpg);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__picture_work-it {
    background-image: url(../../images/work-it_960.jpg);
  }
}
@media (min-width: 961px) {
  .main-section__picture_work-it {
    background-image: url(../../images/work-it_1024.jpg);
  }
}
@media (max-width: 640px) {
  .main-section__info {
    padding-top: 26px;
    padding-bottom: 79px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__info {
    padding-top: 62px;
    padding-bottom: 97px;
  }
}
@media (min-width: 961px) {
  .main-section__info {
    width: 50%;
    padding-top: 230px;
  }
}
@media (min-width: 961px) {
  .main-section__info_find-contact {
    margin-left: auto;
    max-width: 895px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__wrapper {
    padding: 0 33px;
  }
}
@media (min-width: 961px) {
  .main-section__wrapper {
    min-width: unset;
    max-width: 770px;
    margin: 0;
    padding-left: 126px;
    margin-right: 20px;
  }
}
.main-section__wrapper_find-contact {
  margin-right: 90px;
}
@media (max-width: 640px) {
  .main-section__title {
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-align: left;
    color: #e7e7e7;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .main-section__title {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: rgba(193, 193, 193, 0.4);
  }
}
@media (min-width: 961px) {
  .main-section__title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: rgba(193, 193, 193, 0.4);
  }
}
@media (min-width: 1240px) {
  .main-section__title {
    font-size: 5rem;
  }
}
@media (max-width: 640px) {
  .main-section__text {
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
  }
}
@media (min-width: 641px) {
  .main-section__text {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.17;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
  }
}
@media (min-width: 961px) {
  .main-section__text {
    margin-top: 95px;
  }
}
@media (min-width: 961px) {
  .main-section__text_find-contact {
    margin-top: 55px;
  }
}
