.footer {
  position: relative;
  z-index: -1;
  height: 1px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 14, 52, 0.9);
}
@media (max-width: 640px) {
  .footer {
    min-height: 568px;
    padding-bottom: 10px;
    background-image: url(../../images/game_767.jpg);
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer {
    min-height: 960px;
    min-width: 660px;
    padding-top: 99px;
    background-image: url(../../images/game_1280.jpg);
  }
}
@media (min-width: 961px) {
  .footer {
    min-height: 960px;
    background-image: url(../../images/game_1920.jpg);
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
@media (min-width: 961px) {
  .footer__logo-desktop {
    display: flex;
    align-items: center;
    margin-top: 229px;
  }
}
.footer__logotype {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  background-color: #5e42b0;
  fill: #ffffff;
  border-radius: 15px;
}
@media (max-width: 640px) {
  .footer__logotype svg {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer__logotype svg {
    height: 100px;
    width: 100px;
  }
}
@media (min-width: 961px) {
  .footer__logotype svg {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 640px) {
  .footer__logotype {
    width: 72px;
    height: 74px;
    margin-top: 99px;
    margin-bottom: 55px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer__logotype {
    height: 137px;
    width: 130px;
    margin-top: 28px;
    margin-bottom: 70px;
    border-radius: 30px;
  }
}
@media (min-width: 961px) {
  .footer__logotype {
    height: 137px;
    width: 130px;
    border-radius: 30px;
  }
}
@media (max-width: 640px) {
  .footer__logotype_bottom {
    height: 36px;
    margin-top: 82px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer__logotype_bottom {
    margin-top: 55px;
  }
}
@media (min-width: 961px) {
  .footer__logotype_bottom {
    margin-top: 260px;
  }
}
.footer__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .footer__title {
    font-size: 2rem;
    letter-spacing: 1.1px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer__title {
    font-size: 5rem;
    letter-spacing: 4.4px;
  }
}
@media (min-width: 961px) {
  .footer__title {
    width: unset;
    margin-left: 19px;
    font-size: 5rem;
    text-align: left;
    line-height: 1;
  }
}
.footer__title_second-row {
  font-weight: normal;
  color: #9b8ec1;
}
@media (max-width: 640px) {
  .footer__title_second-row {
    margin-top: 7px;
    font-size: 0.875rem;
    letter-spacing: 0.7px;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .footer__title_second-row {
    margin-top: 15px;
    margin-bottom: 283px;
    font-size: 2.25rem;
    letter-spacing: 0px;
  }
}
@media (min-width: 961px) {
  .footer__title_second-row {
    margin-top: 10px;
    font-size: 1.875rem;
    text-align: left;
    letter-spacing: 0px;
  }
}
.footer__applications {
  position: relative;
  z-index: 2;
}
@media (max-width: 640px) {
  .footer__applications {
    margin-top: 62px;
  }
}
@media (min-width: 961px) {
  .footer__applications {
    margin-top: 151px;
  }
}
